In [1]:
#libraries
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("weatherAUS.csv")
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

## Information about the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

## Missing Values

In [5]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

## Dropna

In [6]:
df1 = df.copy()

In [7]:
# summarize the shape of the raw data
print("Before:",df1.shape)

# drop rows with missing values
df1.dropna(inplace=True)

# summarize the shape of the data with missing rows removed
print("After:",df1.shape)

Before: (145460, 23)
After: (56420, 23)

## Fillna

In [8]:
df2 = df.copy()

In [11]:
# fill missing values with mean column values for numeric columns only
# for numeric columns, use mean
numeric_columns = df2.select_dtypes(include=['number']).columns
for col in numeric_columns:
    df2[col].fillna(df2[col].mean(), inplace=True)
    
# for non-numeric columns, you might want to use another strategy
# such as filling with the most frequent value or a specific string
non_numeric_columns = df2.select_dtypes(exclude=['number']).columns
for col in non_numeric_columns:
    df2[col].fillna(df2[col].mode()[0] if not df2[col].mode().empty else "", inplace=True)

# count the number of NaN values in each column
print(df2.isnull().sum())
df2

C:\Users\niles\AppData\Local\Temp\ipykernel_25476\1108255924.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].mean(), inplace=True)
C:\Users\niles\AppData\Local\Temp\ipykernel_25476\1108255924.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].mode()[0] if not df2[col].mode().empty else "", inplace=True)

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.900000,0.6,5.468232,7.611178,W,44.00000,W,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.100000,0.0,5.468232,7.611178,WNW,44.00000,NNW,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.700000,0.0,5.468232,7.611178,WSW,46.00000,W,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.000000,0.0,5.468232,7.611178,NE,24.00000,SE,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.300000,1.0,5.468232,7.611178,W,41.00000,ENE,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.468232,7.611178,E,31.00000,SE,...,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.468232,7.611178,NNW,22.00000,SE,...,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.900000,0.0,5.468232,7.611178,N,37.00000,SE,...,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.000000,0.0,5.468232,7.611178,SE,28.00000,SSE,...,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,23.221348,0.0,5.468232,7.611178,W,40.03523,ESE,...,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,No,No

In [20]:
# Convert Date column to datetime
df2['Date'] = pd.to_datetime(df2['Date'])
df2

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,RainToday_encoded,RainTomorrow_encoded
0,2008-12-01,Albury,13.4,22.900000,0.6,5.468232,7.611178,W,44.00000,W,...,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No,0,0
1,2008-12-02,Albury,7.4,25.100000,0.0,5.468232,7.611178,WNW,44.00000,NNW,...,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No,0,0
2,2008-12-03,Albury,12.9,25.700000,0.0,5.468232,7.611178,WSW,46.00000,W,...,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No,0,0
3,2008-12-04,Albury,9.2,28.000000,0.0,5.468232,7.611178,NE,24.00000,SE,...,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No,0,0
4,2008-12-05,Albury,17.5,32.300000,1.0,5.468232,7.611178,W,41.00000,ENE,...,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,5.468232,7.611178,E,31.00000,SE,...,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,No,0,0
145456,2017-06-22,Uluru,3.6,25.300000,0.0,5.468232,7.611178,NNW,22.00000,SE,...,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,No,0,0
145457,2017-06-23,Uluru,5.4,26.900000,0.0,5.468232,7.611178,N,37.00000,SE,...,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,No,0,0
145458,2017-06-24,Uluru,7.8,27.000000,0.0,5.468232,7.611178,SE,28.00000,SSE,...,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,No,0,0
145459,2017-06-25,Uluru,14.9,23.221348,0.0,5.468232,7.611178,W,40.03523,ESE,...,1020.2,1017.9,8.000000,8.00000,15.0,20.9,No,No,0,0

## Original Description

In [21]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

## Cleaned data Description

In [22]:
df2.describe()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday_encoded,RainTomorrow_encoded
count,145460,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000
mean,2013-04-04 21:08:51.907053568,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.649940,1015.255889,4.447461,4.509930,16.990631,21.683390,0.219167,0.219146
min,2007-11-01 00:00:00,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000,0.000000
25%,2011-01-11 00:00:00,7.700000,18.000000,0.000000,4.000000,7.611178,31.000000,7.000000,13.000000,57.000000,37.000000,1013.500000,1011.100000,3.000000,4.000000,12.300000,16.700000,0.000000,0.000000
50%,2013-06-02 00:00:00,12.100000,22.700000,0.000000,5.468232,7.611178,39.000000,13.000000,18.662657,69.000000,51.539116,1017.649940,1015.255889,4.447461,4.509930,16.800000,21.400000,0.000000,0.000000
75%,2015-06-14 00:00:00,16.800000,28.200000,1.000000,5.468232,8.700000,46.000000,19.000000,24.000000,83.000000,65.000000,1021.800000,1019.400000,6.000000,6.000000,21.500000,26.200000,0.000000,0.000000
max,2017-06-25 00:00:00,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,1.000000,1.000000
std,NaN,6.365750,7.088124,8.382488,3.161541,2.729486,13.118253,8.861059,8.716581,18.854765,20.471189,6.728467,6.663973,2.265604,2.092954,6.449221,6.850057,0.413683,0.413669

## Feature transformation (encoding)

In [17]:
import sklearn

In [26]:
# Encode categorical variables
# 1: One-hot encoding
categorical_cols = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']
df2_encoded = pd.get_dummies(df2, columns=categorical_cols, drop_first=True)

# 2: Label encoding (for binary variables like RainToday/RainTomorrow)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2['RainToday_encoded'] = le.fit_transform(df2['RainToday'])
df2['RainTomorrow_encoded'] = le.fit_transform(df2['RainTomorrow'])

In [27]:
# After one-hot encoding:
print("DataFrame shape after one-hot encoding:", df2_encoded.shape)
print("\nFirst 5 rows of encoded dataframe:")
display(df2_encoded.head())
print("\nNew column names after encoding:")
print(df2_encoded.columns.tolist())

# After label encoding:
print("\nOriginal RainToday values vs encoded values:")
display(pd.DataFrame({'Original': df2['RainToday'].unique(), 
                     'Encoded': le.transform(df2['RainToday'].unique())}))

print("\nFirst 5 rows with encoded rain columns:")
display(df2[['RainToday', 'RainToday_encoded', 'RainTomorrow', 'RainTomorrow_encoded']].head())

DataFrame shape after one-hot encoding: (145460, 114)

First 5 rows of encoded dataframe:

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_Yes,RainTomorrow_Yes
0,2008-12-01,13.4,22.9,0.6,5.468232,7.611178,44.0,20.0,24.0,71.0,...,False,False,False,False,False,False,True,False,False,False
1,2008-12-02,7.4,25.1,0.0,5.468232,7.611178,44.0,4.0,22.0,44.0,...,False,False,False,False,False,False,False,True,False,False
2,2008-12-03,12.9,25.7,0.0,5.468232,7.611178,46.0,19.0,26.0,38.0,...,False,False,False,False,False,False,False,True,False,False
3,2008-12-04,9.2,28.0,0.0,5.468232,7.611178,24.0,11.0,9.0,45.0,...,False,False,False,False,False,False,False,False,False,False
4,2008-12-05,17.5,32.3,1.0,5.468232,7.611178,41.0,7.0,20.0,82.0,...,False,False,False,False,False,False,False,False,False,False

New column names after encoding:
['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday_encoded', 'RainTomorrow_encoded', 'Location_Albany', 'Location_Albury', 'Location_AliceSprings', 'Location_BadgerysCreek', 'Location_Ballarat', 'Location_Bendigo', 'Location_Brisbane', 'Location_Cairns', 'Location_Canberra', 'Location_Cobar', 'Location_CoffsHarbour', 'Location_Dartmoor', 'Location_Darwin', 'Location_GoldCoast', 'Location_Hobart', 'Location_Katherine', 'Location_Launceston', 'Location_Melbourne', 'Location_MelbourneAirport', 'Location_Mildura', 'Location_Moree', 'Location_MountGambier', 'Location_MountGinini', 'Location_Newcastle', 'Location_Nhil', 'Location_NorahHead', 'Location_NorfolkIsland', 'Location_Nuriootpa', 'Location_PearceRAAF', 'Location_Penrith', 'Location_Perth', 'Location_PerthAirport', 'Location_Portland', 'Location_Richmond', 'Location_Sale', 'Location_SalmonGums', 'Location_Sydney', 'Location_SydneyAirport', 'Location_Townsville', 'Location_Tuggeranong', 'Location_Uluru', 'Location_WaggaWagga', 'Location_Walpole', 'Location_Watsonia', 'Location_Williamtown', 'Location_Witchcliffe', 'Location_Wollongong', 'Location_Woomera', 'WindGustDir_ENE', 'WindGustDir_ESE', 'WindGustDir_N', 'WindGustDir_NE', 'WindGustDir_NNE', 'WindGustDir_NNW', 'WindGustDir_NW', 'WindGustDir_S', 'WindGustDir_SE', 'WindGustDir_SSE', 'WindGustDir_SSW', 'WindGustDir_SW', 'WindGustDir_W', 'WindGustDir_WNW', 'WindGustDir_WSW', 'WindDir9am_ENE', 'WindDir9am_ESE', 'WindDir9am_N', 'WindDir9am_NE', 'WindDir9am_NNE', 'WindDir9am_NNW', 'WindDir9am_NW', 'WindDir9am_S', 'WindDir9am_SE', 'WindDir9am_SSE', 'WindDir9am_SSW', 'WindDir9am_SW', 'WindDir9am_W', 'WindDir9am_WNW', 'WindDir9am_WSW', 'WindDir3pm_ENE', 'WindDir3pm_ESE', 'WindDir3pm_N', 'WindDir3pm_NE', 'WindDir3pm_NNE', 'WindDir3pm_NNW', 'WindDir3pm_NW', 'WindDir3pm_S', 'WindDir3pm_SE', 'WindDir3pm_SSE', 'WindDir3pm_SSW', 'WindDir3pm_SW', 'WindDir3pm_W', 'WindDir3pm_WNW', 'WindDir3pm_WSW', 'RainToday_Yes', 'RainTomorrow_Yes']

Original RainToday values vs encoded values:

  Original  Encoded
0       No        0
1      Yes        1

First 5 rows with encoded rain columns:

  RainToday  RainToday_encoded RainTomorrow  RainTomorrow_encoded
0        No                  0           No                     0
1        No                  0           No                     0
2        No                  0           No                     0
3        No                  0           No                     0
4        No                  0           No                     0

## Duplicates, Outliers, Derived Functions, Date components

In [32]:
# Check for and remove duplicates
duplicate_count = df2.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")
df2 = df2.drop_duplicates()

# Handle outliers using IQR method for numeric columns
for col in numeric_cols:
    Q1 = df2[col].quantile(0.25)
    Q3 = df2[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Either cap the outliers
    df2[col] = df2[col].clip(lower_bound, upper_bound)
    
    # Or identify them for further inspection
    # outliers = df2[(df2[col] < lower_bound) | (df2[col] > upper_bound)]
    # print(f"Outliers in {col}: {len(outliers)}")

# Create derived features that might be useful
df2['TempDiff'] = df2['MaxTemp'] - df2['MinTemp']
df2['HumidityDiff'] = df2['Humidity9am'] - df2['Humidity3pm']
df2['WindSpeedDiff'] = df2['WindSpeed3pm'] - df2['WindSpeed9am']

# Extract date components
df2['Year'] = df2['Date'].dt.year
df2['Month'] = df2['Date'].dt.month
df2['Day'] = df2['Date'].dt.day
df2['DayOfWeek'] = df2['Date'].dt.dayofweek
df2['Season'] = (df2['Month'] % 12 + 3) // 3  # 1: Spring, 2: Summer, 3: Fall, 4: Winter

# Normalize/standardize numeric features (important for many ML algorithms)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df2_scaled = df2.copy()
df2_scaled[numeric_cols] = scaler.fit_transform(df2[numeric_cols])

# Display summary statistics to verify cleaning
print("\nSummary statistics after cleaning:")
display(df2.describe())

Number of duplicate rows: 0

Summary statistics after cleaning:

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,RainToday_encoded,RainTomorrow_encoded,TempDiff,HumidityDiff,WindSpeedDiff,Year,Month,Day,DayOfWeek,Season
count,145460,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,...,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000,145460.000000
mean,2013-04-04 21:08:51.907053568,12.194317,23.225145,0.614503,5.095891,7.922535,39.716321,13.952432,18.576025,68.932605,...,0.219167,0.219146,11.030828,17.393489,4.623593,2012.769751,6.399615,15.712258,2.999684,2.496968
min,2007-11-01 00:00:00,-5.950000,2.700000,0.000000,1.797653,5.977944,8.500000,0.000000,0.000000,18.000000,...,0.000000,0.000000,-9.494034,-82.000000,-37.000000,2007.000000,1.000000,1.000000,0.000000,1.000000
25%,2011-01-11 00:00:00,7.700000,18.000000,0.000000,4.000000,7.611178,31.000000,7.000000,13.000000,57.000000,...,0.000000,0.000000,7.200000,7.000000,0.000000,2011.000000,3.000000,8.000000,1.000000,2.000000
50%,2013-06-02 00:00:00,12.100000,22.700000,0.000000,5.468232,7.611178,39.000000,13.000000,18.662657,69.000000,...,0.000000,0.000000,10.500000,17.000000,4.000000,2013.000000,6.000000,16.000000,3.000000,2.000000
75%,2015-06-14 00:00:00,16.800000,28.200000,1.000000,5.468232,8.700000,46.000000,19.000000,24.000000,83.000000,...,0.000000,0.000000,14.400000,28.000000,10.000000,2015.000000,9.000000,23.000000,5.000000,3.000000
max,2017-06-25 00:00:00,30.450000,43.500000,2.500000,7.670579,10.333234,68.500000,37.000000,40.500000,100.000000,...,1.000000,1.000000,31.205966,91.000000,40.500000,2017.000000,12.000000,31.000000,6.000000,4.000000
std,NaN,6.364469,7.067566,0.988409,1.709594,1.386787,12.174937,8.555347,8.442192,18.703608,...,0.413683,0.413669,4.947756,16.259542,8.432560,2.537684,3.427262,8.794789,1.999292,1.103981

## Learnings
 
1. How to Describe data using  various techniques
2. Data cleaning including columns, data formating, removing duplicates and outliers.
3. Feature Engineering techniques such as encoding (one hot encoding, label encoding)